/* Material Colors */
$articleCardColor: #eceff1;

article {
  background-color: $articleCardColor;
  border-radius: 0.2em;
  overflow: hidden;
}

/* Using for loop to simplify this, but it essentially make the element span 1-12 of the parent */
@for $i from 1 through 12 {
  .width-#{$i} {
    grid-column: span #{$i};
  }
}