.article-image {
  margin: 0;
}

/* I currently don't have a good solution for height of images */
.article-image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

@media only screen and (min-width: 601px) {
  .article-image img {
    height: 250px;
  }
}

@media only screen and (min-width: 993px) {
  .article-image img {
    height: 300px;
  }
}