.responsive-container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .responsive-container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .responsive-container {
    width: 70%;
  }
}