/* This was included in template, just changed font-family a little */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Changed root into a grid */

#root {
  display: grid;
  grid-template: auto 1fr auto / auto;
  grid-gap: 5px;
  height: 100vh;
}

/* Sometimes I needed extra spacing in boxes */

.inner-spacing {
  padding: 0.5em;
}

/* Keeping this a general rule for all links */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}